@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/** {
  border: solid pink 0.5px;
}*/
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  
}


ul {
  margin: 0px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  padding: 16px;
}

.footer {
  display: flex;
  padding: 16px;
  background-color: lightgray;
  flex-shrink: 0;
}

.header ul, .footer ul {
  list-style-type: none;
  padding: 0px;
  
}

.left-links {
  margin-right: auto;
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  gap: 16px;
}

.header a, .footer a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
  
  
}

.content-padding {
  flex: 0 1 50px;
  min-height: 16px;
}
